#loginRoot {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0, 0, 2);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.mfx-text-field {
    -fx-font-size: 13px;
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#btnSignIn {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #CCCCCC;
}

/*sidebar buttons*/
#btnSections {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
#btnSections:hover {
    -fx-background-color: #734c2f;
}
#btnOrders {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnBilling {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnCashClosing {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnUsers {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnSectionsMgmt {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnMenuGroups {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnMenuItems {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnReports {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnSettings {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#btnLogout {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}